<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.exmple.musicplayer"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        tools:node="remove"/>

    <application
        android:name="com.exmple.musicplayer.App"
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_launcher_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Apptheme">

        <activity
            android:name="com.exmple.musicplayer.activities.SplashActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.exmple.musicplayer.activities.MainActivity"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.app.default_searchable"
                android:resource="@xml/searchable"/>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="content"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="application/ogg"/>
                <data android:mimeType="application/x-ogg"/>
                <data android:mimeType="application/itunes"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="file"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="application/ogg"/>
                <data android:mimeType="application/x-ogg"/>
                <data android:mimeType="application/itunes"/>
            </intent-filter>
        </activity>



        <activity
            android:name="com.simplemobiletools.commons.activities.AboutActivity"
            android:label="@string/about"
            android:parentActivityName="com.exmple.musicplayer.activities.MainActivity"/>

        <activity
            android:name="com.simplemobiletools.commons.activities.CustomizationActivity"
            android:label="@string/customize_colors"
            android:parentActivityName="com.exmple.musicplayer.activities.SettingsActivity"/>

        <activity
            android:name="com.simplemobiletools.commons.activities.LicenseActivity"
            android:label="@string/third_party_licences"
            android:parentActivityName="com.simplemobiletools.commons.activities.AboutActivity"/>

        <activity
            android:name="com.simplemobiletools.commons.activities.FAQActivity"
            android:label="@string/frequently_asked_questions"
            android:parentActivityName="com.simplemobiletools.commons.activities.AboutActivity"/>

        <activity
            android:name="com.exmple.musicplayer.activities.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName="com.exmple.musicplayer.activities.MainActivity"/>

        <activity
            android:name="com.exmple.musicplayer.activities.PlaylistsActivity"
            android:label="@string/manage_playlists"
            android:parentActivityName="com.exmple.musicplayer.activities.SettingsActivity"/>

        <service
            android:name=".services.MusicService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.simplemobiletools.musicplayer.action.INIT"/>
                <action android:name="com.simplemobiletools.musicplayer.action.INIT_PATH"/>
                <action android:name="com.simplemobiletools.musicplayer.action.SETUP"/>
                <action android:name="com.simplemobiletools.musicplayer.action.FINISH"/>
                <action android:name="com.simplemobiletools.musicplayer.action.FINISH_IF_NOT_PLAYING"/>
                <action android:name="com.simplemobiletools.musicplayer.action.PREVIOUS"/>
                <action android:name="com.simplemobiletools.musicplayer.action.PAUSE"/>
                <action android:name="com.simplemobiletools.musicplayer.action.PLAYPAUSE"/>
                <action android:name="com.simplemobiletools.musicplayer.action.NEXT"/>
                <action android:name="com.simplemobiletools.musicplayer.action.RESET"/>
                <action android:name="com.simplemobiletools.musicplayer.action.EDIT"/>
                <action android:name="com.simplemobiletools.musicplayer.action.PLAYPOS"/>
                <action android:name="com.simplemobiletools.musicplayer.action.REFRESH_LIST"/>
                <action android:name="com.simplemobiletools.musicplayer.action.SET_PROGRESS"/>
                <action android:name="com.simplemobiletools.musicplayer.action.SKIP_BACKWARD"/>
                <action android:name="com.simplemobiletools.musicplayer.action.SKIP_FORWARD"/>
                <action android:name="com.simplemobiletools.musicplayer.action.REMOVE_CURRENT_SONG"/>
                <action android:name="com.simplemobiletools.musicplayer.action.REMOVE_SONG_IDS"/>
                <action android:name="com.simplemobiletools.musicplayer.action.BROADCAST_STATUS"/>
            </intent-filter>
        </service>



        <receiver
            android:name=".receivers.RemoteControlReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.HeadsetPlugReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_HEADSET_PLUG"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.ControlActionsListener"/>

        <receiver
            android:name=".receivers.NotificationDismissedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.simplemobiletools.musicplayer.action.NOTIFICATION_DISMISSED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>
</manifest>
